/app/*.db3
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/vendor/
/web/bundles/
/web/media
!/web/media/post/.empty

web/.htaccess
build.properties
.idea/
.DS_STORE
/build/
/web/css/*
/web/js/*
/web/files/*
/logs/*
!/logs/.gitkeep
!.gitkeep

/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
